* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.flexCenter, .container, .sponsor__logo, .footer__grid .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 1025px) {
  .container {
    width: 80vw;
  }
}

.hero {
  background: url(/images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.hero__logo {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.hero__desc {
  margin-bottom: 2rem;
}

.hero__desc .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero__desc .desc {
  font-size: 0.9em;
}

.hero__cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .hero {
    background: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
  }
  .hero__desc {
    margin-bottom: 3rem;
  }
  .hero__desc .title {
    font-size: 3.5rem;
  }
  .hero__desc .desc {
    width: 74%;
    margin: 0 auto;
    font-size: 1.2em;
  }
  .hero__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .hero__cta .ios {
    margin-right: 2rem;
  }
}

.track__desc {
  margin-bottom: 3rem;
}

.track__desc .title {
  font-size: 1.7em;
  margin-bottom: 1rem;
}

.track__img {
  margin-bottom: 3rem;
}

.track__img img {
  max-width: 375px;
  width: 100%;
  height: auto;
}

.track__ex .card {
  margin-bottom: 2rem;
}

.track__ex .card .title {
  font-size: 1.5em;
  margin-bottom: 0.7rem;
}

@media (min-width: 1025px) {
  .track {
    margin-bottom: 13rem;
  }
  .track__desc .title {
    font-size: 2.2em;
  }
  .track__desc .desc {
    width: 78%;
    margin: 0 auto;
  }
  .track__img {
    position: relative;
    width: 70%;
  }
  .track__img img {
    max-width: 750px;
    position: absolute;
    left: -428px;
  }
  .track__ex {
    width: 50%;
    max-width: 576px;
    margin-left: 30rem;
    text-align: left;
  }
  .track__ex .card .title {
    font-size: 2em;
  }
}

.feature__feature {
  margin-top: 3rem;
}

.feature__desc .desc {
  margin-bottom: 4rem;
}

.feature__img {
  margin-bottom: 3rem;
}

.feature__img img {
  max-width: 375px;
  width: 100%;
  height: auto;
}

.feature__ex .card {
  margin-bottom: 4rem;
}

.feature__ex .card .logo {
  margin-bottom: 2rem;
}

@media (min-width: 1025px) {
  .feature__desc .desc {
    width: 78%;
    margin: 0 auto;
  }
  .feature__img {
    width: 100%;
    margin-top: 6rem;
  }
  .feature__img img {
    max-width: none;
  }
  .feature__ex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 6.5rem;
    place-items: self-start;
  }
  .feature__ex .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .feature__ex .card .logo {
    max-width: 70px;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-bottom: 2rem;
  }
  .feature__ex .card .logo img {
    max-width: 50px;
    width: 100%;
    height: auto;
  }
  .feature__ex .card .content .title {
    font-size: 1.7em;
  }
  .feature__ex .card .content .desc {
    font-size: 1.1em;
  }
}

.sponsor__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sponsor__logo .logo {
  margin-bottom: 4rem;
}

.sponsor__logo .logo:last-child {
  margin-bottom: 8rem;
}

@media (min-width: 1025px) {
  .sponsor {
    margin-bottom: 4rem;
  }
  .sponsor__logo {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sponsor__logo .logo:last-child {
    margin-bottom: 4rem;
  }
}

.download__desc {
  margin-bottom: 3rem;
}

.download__cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

@media (min-width: 1025px) {
  .download__desc .desc {
    width: 78%;
    margin: 0 auto;
  }
  .download__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .download__cta .ios {
    margin-right: 2rem;
  }
}

.footer {
  background-color: #f5f6f8;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__grid .logo img {
  max-width: 50%;
}

.footer__grid .links ul li {
  list-style: none;
  margin-top: 2rem;
}

.footer__grid .links ul li a {
  text-decoration: none;
  color: #4c545d;
}

.footer__grid .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

@media (min-width: 1025px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer__grid {
    width: 100%;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
  }
  .footer__grid .logo {
    width: 50%;
  }
  .footer__grid .links ul {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'faq privacy guide' 'contact kit .';
    grid-gap: 1rem 0rem;
    text-align: left;
  }
  .footer__grid .links ul li {
    margin: 0;
  }
  .footer__grid .links ul a:hover {
    color: #26baa4;
  }
  .footer__grid .links ul .faq {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: faq;
  }
  .footer__grid .links ul .contact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contact;
  }
  .footer__grid .links ul .privacy {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: privacy;
  }
  .footer__grid .links ul .kit {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: kit;
  }
  .footer__grid .links ul .guide {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: guide;
  }
  .footer__grid .social {
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__grid .social .facebook img :hover {
    fill: #26baa4;
  }
}

h1 {
  color: #4c545d;
  font-weight: 600;
  font-size: 3rem;
}

@media (min-width: 1025px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  color: #4c545d;
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: 1rem;
}

@media (min-width: 1025px) {
  h2 {
    font-size: 2.2em;
  }
}

h3 {
  color: #4c545d;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.7rem;
}

@media (min-width: 1025px) {
  h3 {
    font-size: 2em;
  }
}

p {
  color: #9fabb2;
  font-size: 0.9em;
  line-height: 1.7;
}

@media (min-width: 1025px) {
  p {
    font-size: 1.2em;
  }
}

.btn {
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #26baa4;
  font-size: 1.1em;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px #0000006e;
          box-shadow: 0px 3px 1px #0000006e;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.windows {
  background-color: #6173ff;
}
/*# sourceMappingURL=main.css.map */